<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>{%mf head%}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="robots" content="nofollow">
{%mf metaAdd%}{%endmf%}
<title>{% block title %} {{ blog.title|escape}}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="/themes/{{ blog.theme_name }}/style.css" media="screen" />
<!--[if IE]><link rel="stylesheet" type="text/css" href="/themes/{{ blog.theme_name }}/ie.css" media="screen" /><![endif]-->
<!--[if lte IE 6]>
    <style type="text/css">
    img {
        behavior: url(/static/iepngfix/iepngfix.htc);
    }
    </style>
<![endif]-->
<link rel="alternate" type="application/rss+xml" title="{{ blog.title }} RSS Feed" href="{{ blog.feedurl }}" />
<link href="/static/wlwmanifest.xml" type="application/wlwmanifest+xml" rel="wlwmanifest"/>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js?ver=1.4.2'></script>
{% block head_block %}{% endblock %}
{%endmf%}
</head>
<body>
<div id="page">
  <div id="header">
    <h1 id="blog-name"><a href="{{blog.baseurl}}/" title="{{blog.title}}">{{blog.title|escape}}</a></h1>
    <div id="blog-description">{{ blog.subtitle|escape}}</div>
    <div class="top-menu">
      <div class="top-menu-window">
        <ul>
          <li class="{%if ishome%}current_page_item{%else%}page_item{%endif%}"><a  href="/"  >Home</a></li>
          {{self.m_list_pages}}
          {% block topmenu %}{% endblock %}
          
          {%mf nav_menu%}
          {%endmf%}
        </ul>
      </div>
    </div>
  </div>
  {%block content %}{%endblock%}
  <div id="footer">{%mf footer%}
    <p>&copy; 2011 <a href="{{blog.baseurl}}">{{ blog.title|escape}}</a>
<!--    
    <a href="http://affiliate.godaddy.com/redirect/B830C6A298C44728AC600F0BED3CFE5E956523F03549692BF13791B44ED9D2BE7D81AED8870A6CF270B4FF5A718AE11E"
    title="Visit GoDaddy.com" target="_blank">Powered by GoDaddy.com</a>
    <img src="http://affiliate.godaddy.com/content/spacer.png?q=B830C6A298C44728AC600F0BED3CFE5E956523F03549692BF13791B44ED9D2BE7D81AED8870A6CF270B4FF5A718AE11E" width="0" height="0" alt=""/>
-->
    </p>
    {%endmf%}
  </div>
</div>
<!-- up/down nav 
<div id="fixed-nav">
  <div class="buttons"> <a class="top" href="#header"></a><a class="bottom" href="#footer"></a> </div>
</div>
-->
<script type='text/javascript' src='/themes/{{ blog.theme_name }}/simpledark-base.min.js'></script>

</body>
</html>
