{% extends "base.html" %}
{% block head_block %}
<meta name="Description" content="{{ blog.subtitle|escape}}" />
{% endblock %}
{% block content %}
<div id="main">
  <div id="content">
    <div class="post" id="notice">
	<blockquote>
           {{ blog.blognotice}}
        </blockquote>
    </div> 
    {% for entry in entries %}
    <div id="post-{{entry.key}}" class="post">
      <h2 class="post-title"><a href="/{{ entry.link|escape }}" title="{{ entry.title|escape }}">{{ entry.title|escape }}</a></h2>
      <div class="post-meta">{{ entry.date|datetz:"F jS, Y, H:i" }} {{entry.author}} / <a href="/{{entry.link|escape}}">{{entry.readtimes}} 次阅读</a> / <a href="/{{entry.link|escape}}#comments" title="查看 {{ entry.title}} 下的全部评论">{{entry.commentcount}} 条评论</a>{%if self.is_admin%} / <a class="post-edit-link" href="{{entry.edit_url}}"  title="编辑文章" target="_blank">编辑</a>{%endif%} </div>
      <div class="entry"> {{entry|excerpt_more:"<strong>&raquo;阅读全文</strong>"}} </div>
      <div class="post-info">分类：{%for cate in entry.categories%}&nbsp;<a href="/category/{{cate.slug}}" title="查看 {{cate.name}} 下的全部文章">{{cate.name}}</a>&nbsp;&nbsp;{%endfor%}标签：{% if entry.tags%}{%for tag in entry.tags%}&nbsp;<a href="/tag/{{tag|urlencode}}" title="查看 {{tag}} 标签的全部文章">{{tag}}</a>&nbsp;{%endfor%}{%endif%} </div>
    </div>
    {% endfor %}
    <div class="pagenavi"> <span class="previous-page">{% if show_prev %}<a href="/page/{{ pageindex|add:"-1" }}">&laquo;上一页</a>{% endif %} </span><span class="next-page"> {% if show_next %}<a href="/page/{{ pageindex|add:"1" }}">下一页&raquo;</a>{% endif %}</span> </div>
  </div>
  {% include "sidebar.html" %} </div>
{% endblock %} 