{% extends "base.html" %}
{% block title %} {{entry.title|escape}} - {{blog.title|escape}} {% endblock %}
{% block head_block %}
{% if entry %}
{%if entry.strtags%}
<meta name="Keywords" content="{{entry.strtags|escape}}">
{%endif%}
{%if entry.excerpt%}
<meta name="Description" content="{{entry.excerpt|escape}}">
{%else%}
<meta name="Description" content="{{entry.content|escape}}">
{%endif%}
{% endif %}
<script type="text/javascript" src="/static/jwplayer/jwplayer.js"></script>
<script type="text/javascript" charset="utf-8">
 function weibo(){
  var _w = 90 , _h = 24;
  var param = {
    url:location.href,
    type:'2',
    count:'1', /**是否显示分享数，1显示(可选)*/
    appkey:'', /**您申请的应用appkey,显示分享来源(可选)*/
    title:'{{ blog.subtitle|escape}} : {{blog.title|escape}}', /**分享的文字内容(可选，默认为所在页面的title)*/
    pic:location.protocol+'//'+location.hostname + '{{entry.thumb_image_url}}', /**分享图片的路径(可选)*/
    ralateUid:'', /**关联用户的UID，分享微博会@该用户(可选)*/
    rnd:new Date().valueOf()
  }
  var temp = [];
  for( var p in param ){
    temp.push(p + '=' + encodeURIComponent( param[p] || '' ) )
  }
  document.write('<iframe allowTransparency="true" frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?' + temp.join('&') + '" width="'+ _w+'" height="'+_h+'"></iframe>');
  document.write('<iframe scrolling="no" frameborder="0" allowtransparency="true" src="http://www.connect.renren.com/like?url='+ encodeURIComponent(location.href) + '&showfaces=false" style="width: 160px;height: 24px;"></iframe>');
}
</script>
{% endblock %}
{% block content %}
<div id="main">
  <div id="content">
    <div id="post-{{entry.key}}" class="post">
      <h2 class="post-title"><a href="/{{ entry.link|escape }}" title="{{ entry.title|escape }} ">{{ entry.title|escape }}</a></h2>
      <div class="post-meta">
      {%if entry.get_sourcefeed_type%}
      <img src="/themes/{{ blog.theme_name }}/images/{{ entry.get_sourcefeed_type }}.png" border="0" />
      {%endif%}
      {{ entry.date|datetz:"F jS, Y, H:i" }} &nbsp;/&nbsp;{{entry.subscribetimes}} 次订阅下载 / <a href="/{{entry.link|escape}}">{{entry.readtimes}} 次在线播放</a> / <a href="/{{entry.link|escape}}#comments" title="查看 {{ entry.title}} 下的全部评论">{{entry.commentcount}} 条评论</a>{%if self.is_admin%} / <a href="{{entry.edit_url}}"  title="编辑文章" target="_blank">编辑</a>{%endif%}
      <br />分类：{%for cate in entry.categories%}&nbsp;<a href="/category/{{cate.slug}}" title="查看 {{cate.name}} 下的全部频道">{{cate.name}}</a>&nbsp;&nbsp;{%endfor%}标签：{% if entry.tags%}{%for tag in entry.tags%}&nbsp;<a href="/tag/{{tag|urlencode}}" title="查看 {{tag}} 标签的全部文章">{{tag}}</a>&nbsp;{%endfor%}{%endif%}
      </div>
      <div id="play" class="entry">
          {%if entry.thumb_image_url %}
              <img style="float: left; margin:10px 20px 0px 0px;" src="{{entry.thumb_image_url}}?size=128x96" alt="" />
          {%endif%}
          {{ entry.content }}
      </div>
      {%if entry.miro_subscription_url %}
      <div><h4>播放列表只包含最新的5个节目（下载可获取全部）：</h4><br/></div>
      <div id="mediacontainer">Loading the player ...</div>
      <script type="text/javascript">
        jwplayer("mediacontainer").setup({
            flashplayer: "/static/jwplayer/player.swf",
            playlistfile: '{{ entry.sourcefeed|escape }}/5',
            playlist: 'right',
            repeat: 'list',
            /**'plugins': 'ltas',**/
            /**'ltas.cc': 'svnoolcmzumvrgw',**/
            controlbar: 'bottom',
            provider:'{{ entry.get_sourcefeed_type }}', /**video,sound,image,youtube,http,rtmp**/
            height: 300,
            width: 620 });
      </script>
      {%endif%}
    
      <div class="post-info share">
          {%if entry.miro_subscription_url %}
            <div class="share-item-title">
              <span class="share-tip">订阅下载:&nbsp;</span> 
              <a href="{{ entry.miro_subscription_url }}" title="用Miro-HaoTV下载播放" ><img src="/themes/{{ blog.theme_name }}/images/patrace1.png" alt="Download" border="0" /></a>
            </div>
          {%endif%}
          
          <div class="share-item">          
           {%if entry.sourcefeed%}
            {%if entry.miro_subscription_url %}
            <!--
             <span class="share-tip">在线播放:&nbsp;</span>
             <a href="{{ entry.link|escape }}#play" title="在线播放"><img src="/themes/{{ blog.theme_name }}/images/play.png" alt="Play" border="0" /></a>
            --> 
            {%else%}
             <span class="share-tip">订阅:&nbsp;</span>
             <a href="{{ entry.sourcefeed }}" title="订阅RSS" target="_blank"><img src="/themes/{{ blog.theme_name }}/images/ico_rss.png" alt="RSS Subscribe" border="0" /></a>
            {%endif%}
           {%endif%}
           <span class="share-tip">
            <script>weibo()</script>
            <!-- JiaThis Button BEGIN -->
            <!--
            <div id="ckepop">
                <a href="http://www.jiathis.com/share/?uid=1517804" class="jiathis jiathis_txt" target="_blank">
                    <img src="http://v2.jiathis.com/code_mini/images/jiathis2.gif" border="0" />
                </a>
            </div>
            <script type="text/javascript">var jiathis_config = {data_track_clickback:true};</script>
            -->
            <!-- JiaThis Button END -->
           </span>
          </div>
      </div>
    </div>
    <!-- Related Posts-->    
    {% if relateposts %}
	<h2><strong>你可能还喜欢:</strong></h2>
	<ul class="relatedPosts">
	{%for post in relateposts%}
		<li><a href="/{{post.link|escape}}">{{post.title|escape}}</a></li>
	{%endfor%}
	</ul>
    {% endif %}
    <!-- end Related Posts-->
    
    <div class="pagenavi"> {%for prev in entry.prev%} <span class="previous-page">&laquo;&nbsp;<a href="/{{prev.link}}">{{prev.title}}</a></span> {%endfor%}
      {%for next in entry.next%} <span class="next-page"><a href="/{{next.link}}">{{next.title}}</a>&nbsp;&raquo;</span> {%endfor%}
    </div>

    {% include "comments.html" %}
    </div>
  {% include "sidebar.html" %}
  </div>
  <!-- JiaThis Javascript 
  <script type="text/javascript" src="http://v2.jiathis.com/code_mini/jia.js?uid=1517804" charset="utf-8"></script>
  -->
{% endblock %}
